<div style="color:rgb(52, 55, 68) ; text-align: center;"> Responsive <b>Slider</b> to take a look to my Experience</div><br>
<ion-content id="workHeight" style="width: 400 px; margin:0;  ">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/WhatsApp Image 2022-08-16 at 2.13.34 PM.jpeg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">IT/IM HELPDESK ASSISTANT, MEDAIR</h5>
                <p class="card-text" style="font-size: 15px;">Maintenance of the ICT Helpdesk to track and assist all staff with ICT requests and
                  needs.
                  Provide software and system troubleshooting support, followed by network monitoring.
                  Update and maintain Dashboards and support with other dashboards when needed.
                  Create Surveys using ODK/Survey123 , support in training for Medair teams, partners, different NGO as
                  needed.
                  Support logistics activities.
              </div>
            </div>
          </div>

        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/WhatsApp Image 2022-08-16 at 2.13.34 PM.jpeg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">DATA COLLECTOR ASSISTANT, MEDAIR</h5>
                <p class="card-text" style="font-size: 15px;">Conduct research and collect information by assigned methods
                  Travel to designated area and conduct interviews
                  Gather and accurately record responses on questionnaires provided by the Program team
                  Recognize and give account of problems in obtaining data and provide useful feedback from field
                  research activities
                  Complete research/survey/assessment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/WhatsApp Image 2022-08-16 at 2.13.34 PM.jpeg" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">SALES-CONSULTANT, SISTECHNOLOGY</h5>
                <p class="card-text" style="font-size: 15px;">Meets with customers in a sales environment to drive product sales and knowledge
                  Adheres to any and all company policies and procedures Teams with other employees to make sure that
                  product is available and shoppable in stores Finds new target markets and penetrates them to drive
                  sales Understands how to make products appeal to consumers based on the environment and current trends
                  Always looks for new ways to make products attractive to customers</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
