<br><br>
<div class="container">

  <div class="imgPic" style="width:100%">
    <img src="./assets/My-Pic.png" style="width: 15%; margin-left: 40%;" class="img-thumbnail">
  </div>

  <br>


  <div style="width: 100%">

    <h6 style="text-align: center;">IT Helpdesk/WebApp/MobileApp Developer Interest in data analysis</h6>
  </div>
  <br>
  <div style="text-align: center;">
    To be an added value in the growth of a company within the same field of my major. I am confident that I have
    all the will to succeed in the mission I am responsible of. Have more than five years of mastering consultative
    selling in multiple majors. Most of these majors were in the technical and IT fields.
  </div>
  <br><br>
</div>
