<br><br>
<div class="container">

  <div class="imgPic" style="width:100%">
    <img src="./assets/My-Pic.png" style="width: 15%; margin-left: 40%;" class="img-thumbnail">
  </div>

  <br>


  <div style="width: 100%">

    <h6 style="text-align: center;"> Helpdesk-support/mobile-web-app developer, Interest in data analysis</h6>
  </div>
  <br>
  <div style="text-align: center;">
    Have more than five years of mastering consultative selling techniques in multiple majors. Most of these majors were in the
    technical and IT fields. acquired experience within 1 year to have this Single-Page-Application. Looking to achieve
    more in the Mobile/Web development and data analysis.
  </div>
  <br><br>
</div>
