<br><br>
<h1 class="container col-4">Articles Design</h1>

<hr>

<div class=" container">
<ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
  <li [ngbNavItem]="1" [destroyOnHide]="true">
    
    <a ngbNavLink routerLink="view">Articles</a>

  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink routerLink="formview">Add New Article</a>

  </li>

</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>


<div class="container">
<router-outlet></router-outlet>
</div>