

  <div class="container CVbtns">

    <button routerLink="work-Experience" type="button" class="btn btn-outline-info CV ">Experience</button>
    <button routerLink="Skills" type="button" class="btn btn-outline-info CV ">Skills</button>
    <button routerLink="Education" type="button" class="btn btn-outline-info CV "> Education</button>
    <button routerLink="Achievement" type="button" class="btn btn-outline-info CV "> Achievement</button>

  </div>



<router-outlet style="overflow-y: none!important;"></router-outlet>
