

<div class="container col-lg-4" id="bg">
  <br>
  <select class="form-select" style=" border-radius: 20px; " aria-label="Default select example" #selectedData
    (change)="getData(selectedData.value)">
    <option value="Beirut" selected>Beirut</option>
    <option value="Istanbul">Istanbul</option>
    <option value="Berlin">Berlin</option>.
    <option value="Tokyo">Tokyo</option>
    <option value="Delhi">Delhi</option>
    <option value="Shanghai">Shanghai</option>
    <option value="Dhaka">Dhaka</option>
    <option value="Sao Paulo">Sao Paulo</option>
    <option value="Mexico City">Mexico City</option>
    <option value="Cairo">Cairo</option>
    <option value="Beijing">Beijing</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Osaka">Osaka</option>
    <option value="Chongqing">Chongqing</option>
    <option value="Karachi">Karachi</option>
    <option value="Istanbul">Istanbul</option>
    <option value="Kinshasa">Kinshasa</option>
    <option value="Lagos">Lagos</option>
    <option value="Buenos Aires">Buenos Aires</option>
    <option value="Kolkata">Kolkata</option>
    <option value="Manila">Manila</option>
    <option value="Tianjin">Tianjin</option>
    <option value="Guangzhou">Guangzhou</option>
    <option value="Rio De Janeiro">Rio De Janeiro</option>
    <option value="Lahore">Lahore</option>
    <option value="Bangalore">Bangalore</option>
    <option value="Shenzhen">Shenzhen</option>
    <option value="Moscow">Moscow</option>
    <option value="Chennai">Chennai</option>
    <option value="Bogota">Bogota</option>
    <option value="Paris">Paris</option>
    <option value="Jakarta">Jakarta</option>
    <option value="Lima">Lima</option>
    <option value="Bangkok">Bangkok</option>
    <option value="Hyderabad">Hyderabad</option>
    <option value="Seoul">Seoul</option>
    <option value="Nagoya">Nagoya</option>
    <option value="London">London</option>
    <option value="Chengdu">Chengdu</option>
    <option value="Nanjing">Nanjing</option>
    <option value="Tehran">Tehran</option>
    <option value="Ho Chi Minh City">Ho Chi Minh City</option>
    <option value="Luanda">Luanda</option>
    <option value="Wuhan">Wuhan</option>
    <option value="Xi An Shaanxi">Xi An Shaanxi</option>
    <option value="Ahmedabad">Ahmedabad</option>
    <option value="Kuala Lumpur">Kuala Lumpur</option>
    <option value="New York City">New York City</option>
    <option value="Hangzhou">Hangzhou</option>
    <option value="Surat">Surat</option>
    <option value="Suzhou">Suzhou</option>
    <option value="Hong Kong">Hong Kong</option>
    <option value="Riyadh">Riyadh</option>
    <option value="Shenyang">Shenyang</option>
    <option value="Baghdad">Baghdad</option>
    <option value="Dongguan">Dongguan</option>
    <option value="Foshan">Foshan</option>
    <option value="Dar Es Salaam">Dar Es Salaam</option>
    <option value="Pune">Pune</option>
    <option value="Santiago">Santiago</option>
    <option value="Madrid">Madrid</option>
    <option value="Haerbin">Haerbin</option>
    <option value="Toronto">Toronto</option>
    <option value="Belo Horizonte">Belo Horizonte</option>
    <option value="Khartoum">Khartoum</option>
    <option value="Johannesburg">Johannesburg</option>
    <option value="Singapore">Singapore</option>
    <option value="Dalian">Dalian</option>
    <option value="Qingdao">Qingdao</option>
    <option value="Zhengzhou">Zhengzhou</option>
    <option value="Ji Nan Shandong">Ji Nan Shandong</option>
    <option value="Barcelona">Barcelona</option>
    <option value="Saint Petersburg">Saint Petersburg</option>
    <option value="Abidjan">Abidjan</option>
    <option value="Yangon">Yangon</option>
    <option value="Fukuoka">Fukuoka</option>
    <option value="Alexandria">Alexandria</option>
    <option value="Guadalajara">Guadalajara</option>
    <option value="Ankara">Ankara</option>
    <option value="Chittagong">Chittagong</option>
    <option value="Addis Ababa">Addis Ababa</option>
    <option value="Melbourne">Melbourne</option>
    <option value="Nairobi">Nairobi</option>
    <option value="Hanoi">Hanoi</option>
    <option value="Sydney">Sydney</option>
    <option value="Monterrey">Monterrey</option>
    <option value="Changsha">Changsha</option>
    <option value="Brasilia">Brasilia</option>
    <option value="Cape Town">Cape Town</option>
    <option value="Jiddah">Jiddah</option>
    <option value="Urumqi">Urumqi</option>
    <option value="Kunming">Kunming</option>
    <option value="Changchun">Changchun</option>
    <option value="Hefei">Hefei</option>
    <option value="Shantou">Shantou</option>
    <option value="Xinbei">Xinbei</option>
    <option value="Kabul">Kabul</option>
    <option value="Ningbo">Ningbo</option>
    <option value="Tel Aviv">Tel Aviv</option>
    <option value="Yaounde">Yaounde</option>
    <option value="Rome">Rome</option>
    <option value="Shijiazhuang">Shijiazhuang</option>
    <option value="Montreal">Montreal</option>
    <option value="Recife">Recife</option>
    <option value="Kano">Kano</option>
    <option value="Porto Alegre">Porto Alegre</option>
    <option value="Fortaleza">Fortaleza</option>
    <option value="Jaipur">Jaipur</option>
    <option value="Nanning">Nanning</option>
    <option value="Medellin">Medellin</option>
    <option value="Taiyuan Shanxi">Taiyuan Shanxi</option>
    <option value="Ekurhuleni">Ekurhuleni</option>
    <option value="Los Angeles">Los Angeles</option>
    <option value="Douala">Douala</option>
    <option value="Kozhikode">Kozhikode</option>
    <option value="Salvador">Salvador</option>
    <option value="Changzhou">Changzhou</option>
    <option value="Xiamen">Xiamen</option>
    <option value="Lucknow">Lucknow</option>
    <option value="Fuzhou Fujian">Fuzhou Fujian</option>
    <option value="Casablanca">Casablanca</option>
    <option value="Wenzhou">Wenzhou</option>
    <option value="Nanchang">Nanchang</option>
    <option value="Malappuram">Malappuram</option>
    <option value="Curitiba">Curitiba</option>
    <option value="Ibadan">Ibadan</option>
    <option value="Antananarivo">Antananarivo</option>
    <option value="Tangshan Hebei">Tangshan Hebei</option>
    <option value="Abuja">Abuja</option>
    <option value="Kampala">Kampala</option>
    <option value="Kumasi">Kumasi</option>
    <option value="Faisalabad">Faisalabad</option>
    <option value="Bekasi">Bekasi</option>
    <option value="Berlin">Berlin</option>
    <option value="Guiyang">Guiyang</option>
    <option value="Busan">Busan</option>
    <option value="Santo Domingo">Santo Domingo</option>
    <option value="Asuncion">Asuncion</option>
    <option value="Campinas">Campinas</option>
    <option value="Wuxi">Wuxi</option>
    <option value="Thrissur">Thrissur</option>
    <option value="Dakar">Dakar</option>
    <option value="Port Harcourt">Port Harcourt</option>
    <option value="Mashhad">Mashhad</option>
    <option value="Kochi">Kochi</option>
    <option value="Puebla">Puebla</option>
    <option value="Kuwait City">Kuwait City</option>
    <option value="Lanzhou">Lanzhou</option>
    <option value="Indore">Indore</option>
    <option value="Durban">Durban</option>
    <option value="Kanpur">Kanpur</option>
    <option value="Sanaa">Sanaa</option>
    <option value="Athens">Athens</option>
    <option value="Milan">Milan</option>
    <option value="Pyongyang">Pyongyang</option>
    <option value="Guayaquil">Guayaquil</option>
    <option value="Izmir">Izmir</option>
    <option value="Ouagadougou">Ouagadougou</option>
    <option value="Lusaka">Lusaka</option>
    <option value="Guatemala City">Guatemala City</option>
    <option value="Kiev">Kiev</option>
    <option value="Surabaya">Surabaya</option>
    <option value="Nagpur">Nagpur</option>
    <option value="Lisbon">Lisbon</option>
    <option value="Zhongshan">Zhongshan</option>
    <option value="Dubai">Dubai</option>
    <option value="Caracas">Caracas</option>
    <option value="Depok">Depok</option>
    <option value="Shizuoka">Shizuoka</option>
    <option value="Coimbatore">Coimbatore</option>
    <option value="Handan">Handan</option>
    <option value="Port Au Prince">Port Au Prince</option>
    <option value="Huaian">Huaian</option>
    <option value="Algiers">Algiers</option>
    <option value="Cali">Cali</option>
    <option value="Weifang">Weifang</option>
    <option value="Incheon">Incheon</option>
    <option value="Bamako">Bamako</option>
    <option value="Goiania">Goiania</option>
    <option value="Thiruvananthapuram">Thiruvananthapuram</option>
    <option value="Manchester">Manchester</option>
    <option value="Mbuji Mayi">Mbuji Mayi</option>
    <option value="Taipei">Taipei</option>
    <option value="Pretoria">Pretoria</option>
    <option value="Zibo">Zibo</option>
    <option value="Shaoxing">Shaoxing</option>
    <option value="Lubumbashi">Lubumbashi</option>
    <option value="Yantai">Yantai</option>
    <option value="Huizhou">Huizhou</option>
    <option value="Chicago">Chicago</option>
    <option value="Sapporo">Sapporo</option>
    <option value="Birmingham">Birmingham</option>
    <option value="Bandung">Bandung</option>
    <option value="Vancouver">Vancouver</option>
    <option value="Accra">Accra</option>
    <option value="Toluca De Lerdo">Toluca De Lerdo</option>
    <option value="Tashkent">Tashkent</option>
    <option value="Brazzaville">Brazzaville</option>
    <option value="Luoyang">Luoyang</option>
    <option value="Patna">Patna</option>
    <option value="Bhopal">Bhopal</option>
    <option value="Damascus">Damascus</option>
    <option value="Mogadishu">Mogadishu</option>
    <option value="Brisbane">Brisbane</option>
    <option value="Tangerang">Tangerang</option>
    <option value="San Juan">San Juan</option>
    <option value="Tunis">Tunis</option>
    <option value="Beirut">Beirut</option>
    <option value="Nantong">Nantong</option>
    <option value="Medan">Medan</option>
    <option value="Baku">Baku</option>
    <option value="Belem">Belem</option>
    <option value="Gujranwala">Gujranwala</option>
    <option value="Peshawar">Peshawar</option>
    <option value="Manaus">Manaus</option>
    <option value="Sendai">Sendai</option>
    <option value="Maracaibo">Maracaibo</option>
    <option value="Rawalpindi">Rawalpindi</option>
    <option value="Houston">Houston</option>
    <option value="Barranquilla">Barranquilla</option>
    <option value="Agra">Agra</option>
    <option value="Hohhot">Hohhot</option>
    <option value="Taoyuan">Taoyuan</option>
    <option value="Baotou">Baotou</option>
    <option value="Kannur">Kannur</option>
    <option value="Liuzhou">Liuzhou</option>
    <option value="Visakhapatnam">Visakhapatnam</option>
    <option value="Vadodara">Vadodara</option>
    <option value="Xuzhou">Xuzhou</option>
    <option value="Tijuana">Tijuana</option>
    <option value="Esfahan">Esfahan</option>
    <option value="Phnom Penh">Phnom Penh</option>
    <option value="Amman">Amman</option>
    <option value="Daegu">Daegu</option>
    <option value="Naples">Naples</option>
    <option value="Nashik">Nashik</option>
    <option value="Vijayawada">Vijayawada</option>
    <option value="Havana">Havana</option>
    <option value="Grande Vitoria">Grande Vitoria</option>
    <option value="Mecca">Mecca</option>
    <option value="Brussels">Brussels</option>
    <option value="Multan">Multan</option>
    <option value="Aleppo">Aleppo</option>
    <option value="Putian">Putian</option>
    <option value="Perth">Perth</option>
    <option value="Yangzhou">Yangzhou</option>
    <option value="Hiroshima">Hiroshima</option>
    <option value="Baoding">Baoding</option>
    <option value="Bursa">Bursa</option>
    <option value="Taizhou Zhejiang">Taizhou Zhejiang</option>
    <option value="Minsk">Minsk</option>
    <option value="Conakry">Conakry</option>
    <option value="Wuhu Anhui">Wuhu Anhui</option>
    <option value="Linyi Shandong">Linyi Shandong</option>
    <option value="Kollam">Kollam</option>
    <option value="Rajkot">Rajkot</option>
    <option value="Haikou">Haikou</option>
    <option value="Vienna">Vienna</option>
    <option value="Valencia">Valencia</option>
    <option value="Almaty">Almaty</option>
    <option value="Daqing">Daqing</option>
    <option value="Yancheng Jiangsu">Yancheng Jiangsu</option>
    <option value="Panama City">Panama City</option>
    <option value="Semarang">Semarang</option>
    <option value="Lianyungang">Lianyungang</option>
    <option value="Rabat">Rabat</option>
    <option value="Baixada Santista">Baixada Santista</option>
    <option value="Quito">Quito</option>
    <option value="Hyderabad">Hyderabad</option>
    <option value="Lome">Lome</option>
    <option value="Ludhiana">Ludhiana</option>
    <option value="West Yorkshire">West Yorkshire</option>
    <option value="Davao City">Davao City</option>
    <option value="La Paz">La Paz</option>
    <option value="Leon De Los Aldamas">Leon De Los Aldamas</option>
    <option value="Zhuhai">Zhuhai</option>
    <option value="Benin City">Benin City</option>
    <option value="Datong">Datong</option>
    <option value="Quanzhou">Quanzhou</option>
    <option value="Adana">Adana</option>
    <option value="Madurai">Madurai</option>
    <option value="Turin">Turin</option>
    <option value="Matola">Matola</option>
    <option value="Warsaw">Warsaw</option>
    <option value="Hamburg">Hamburg</option>
    <option value="Can Tho">Can Tho</option>
    <option value="Sharjah">Sharjah</option>
    <option value="Bucharest">Bucharest</option>
    <option value="Palembang">Palembang</option>
    <option value="Santa Cruz">Santa Cruz</option>
    <option value="Budapest">Budapest</option>
    <option value="Gaziantep">Gaziantep</option>
    <option value="Montevideo">Montevideo</option>
    <option value="Meerut">Meerut</option>
    <option value="Raipur">Raipur</option>
    <option value="Phoenix">Phoenix</option>
    <option value="Lyon">Lyon</option>
    <option value="Jiangmen">Jiangmen</option>
    <option value="Mosul">Mosul</option>
    <option value="Cixi">Cixi</option>
    <option value="La Laguna">La Laguna</option>
    <option value="Varanasi">Varanasi</option>
    <option value="Xiangyang">Xiangyang</option>
    <option value="Shiraz">Shiraz</option>
    <option value="Glasgow">Glasgow</option>
    <option value="Novosibirsk">Novosibirsk</option>
    <option value="Batam">Batam</option>
    <option value="Stockholm">Stockholm</option>
    <option value="Yinchuan">Yinchuan</option>
    <option value="Anshan">Anshan</option>
    <option value="Jamshedpur">Jamshedpur</option>
    <option value="Yichang">Yichang</option>
    <option value="Srinagar">Srinagar</option>
    <option value="Auckland">Auckland</option>
    <option value="Jilin">Jilin</option>
    <option value="Ulaanbaatar">Ulaanbaatar</option>
    <option value="Tabriz">Tabriz</option>
    <option value="Makassar">Makassar</option>
    <option value="Aurangabad">Aurangabad</option>
    <option value="Qinhuangdao">Qinhuangdao</option>
    <option value="Xining">Xining</option>
    <option value="Muscat">Muscat</option>
    <option value="Monrovia">Monrovia</option>
    <option value="Marseille">Marseille</option>
    <option value="Tiruppur">Tiruppur</option>
    <option value="Hengyang">Hengyang</option>
    <option value="Calgary">Calgary</option>
    <option value="Qiqihaer">Qiqihaer</option>
    <option value="San Antonio">San Antonio</option>
    <option value="Cordoba">Cordoba</option>
    <option value="Suqian">Suqian</option>
    <option value="Kananga">Kananga</option>
    <option value="Karaj">Karaj</option>
    <option value="Anyang">Anyang</option>
    <option value="Philadelphia">Philadelphia</option>
    <option value="Rosario">Rosario</option>
    <option value="Daejon">Daejon</option>
    <option value="Munich">Munich</option>
    <option value="Ciudad Juarez">Ciudad Juarez</option>
    <option value="Harare">Harare</option>
    <option value="Onitsha">Onitsha</option>
    <option value="Jodhpur">Jodhpur</option>
    <option value="Gaoxiong">Gaoxiong</option>
    <option value="Medina">Medina</option>
    <option value="Jining Shandong">Jining Shandong</option>
    <option value="Abu Dhabi">Abu Dhabi</option>
    <option value="N Djamena">N Djamena</option>
    <option value="Tegucigalpa">Tegucigalpa</option>
    <option value="Gwangju">Gwangju</option>
    <option value="Yekaterinburg">Yekaterinburg</option>
    <option value="Kathmandu">Kathmandu</option>
    <option value="Edmonton">Edmonton</option>
    <option value="Natal">Natal</option>
    <option value="Grande Sao Luis">Grande Sao Luis</option>
    <option value="Ranchi">Ranchi</option>
    <option value="Zhangjiakou">Zhangjiakou</option>
    <option value="Mandalay">Mandalay</option>
    <option value="Jabalpur">Jabalpur</option>
    <option value="Huainan">Huainan</option>
    <option value="Asansol">Asansol</option>
    <option value="Kota">Kota</option>
    <option value="Chaozhou">Chaozhou</option>
    <option value="Gwalior">Gwalior</option>
    <option value="San Jose">San Jose</option>
    <option value="Allahabad">Allahabad</option>
    <option value="Yiwu">Yiwu</option>
    <option value="Chon Buri">Chon Buri</option>
    <option value="Nouakchott">Nouakchott</option>
    <option value="San Diego">San Diego</option>
    <option value="Amritsar">Amritsar</option>
    <option value="Kharkiv">Kharkiv</option>
    <option value="Ottawa">Ottawa</option>
    <option value="Zurich">Zurich</option>
    <option value="Taizhou Jiangsu">Taizhou Jiangsu</option>
    <option value="Basra">Basra</option>
    <option value="Joao Pessoa">Joao Pessoa</option>
    <option value="Ganzhou">Ganzhou</option>
    <option value="Belgrade">Belgrade</option>
    <option value="Homs">Homs</option>
    <option value="Taian Shandong">Taian Shandong</option>
    <option value="Weihai">Weihai</option>
    <option value="Queretaro">Queretaro</option>
    <option value="Mombasa">Mombasa</option>
    <option value="Niamey">Niamey</option>
    <option value="Konya">Konya</option>
    <option value="Hai Phong">Hai Phong</option>
    <option value="Jiaxing">Jiaxing</option>
    <option value="Copenhagen">Copenhagen</option>
    <option value="Cochabamba">Cochabamba</option>
    <option value="Dhanbad">Dhanbad</option>
    <option value="Kisangani">Kisangani</option>
    <option value="Bucaramanga">Bucaramanga</option>
    <option value="Kaifeng">Kaifeng</option>
    <option value="Adelaide">Adelaide</option>
    <option value="Taizhong">Taizhong</option>
    <option value="Rizhao">Rizhao</option>
    <option value="Maceio">Maceio</option>
    <option value="Suweon">Suweon</option>
    <option value="Dallas">Dallas</option>
    <option value="Dongying">Dongying</option>
    <option value="Zunyi">Zunyi</option>
    <option value="Zhanjiang">Zhanjiang</option>
    <option value="Samut Prakan">Samut Prakan</option>
    <option value="Nanchong">Nanchong</option>
    <option value="Joinville">Joinville</option>
    <option value="Qom">Qom</option>
    <option value="Helsinki">Helsinki</option>
    <option value="Mianyang Sichuan">Mianyang Sichuan</option>
    <option value="Liuan">Liuan</option>
    <option value="Porto">Porto</option>
    <option value="Antalya">Antalya</option>
    <option value="Shiyan">Shiyan</option>
    <option value="Prague">Prague</option>
    <option value="Bareilly">Bareilly</option>
    <option value="Liuyang">Liuyang</option>
    <option value="Ad Dammam">Ad Dammam</option>
    <option value="Fushun Liaoning">Fushun Liaoning</option>
    <option value="Pointe Noire">Pointe Noire</option>
    <option value="Yingkou">Yingkou</option>
    <option value="Sofia">Sofia</option>
    <option value="Kazan">Kazan</option>
    <option value="Tengzhou">Tengzhou</option>
    <option value="Port Elizabeth">Port Elizabeth</option>
    <option value="Aligarh">Aligarh</option>
    <option value="Ahvaz">Ahvaz</option>
    <option value="Florianopolis">Florianopolis</option>
    <option value="Tanger">Tanger</option>
    <option value="Freetown">Freetown</option>
    <option value="Maoming">Maoming</option>
    <option value="Pekan Baru">Pekan Baru</option>
    <option value="Fes">Fes</option>
    <option value="Moradabad">Moradabad</option>
    <option value="Suzhou">Suzhou</option>
    <option value="Uyo">Uyo</option>
    <option value="Mysore">Mysore</option>
    <option value="Dublin">Dublin</option>
    <option value="San Luis Potosi">San Luis Potosi</option>
    <option value="Astana">Astana</option>
    <option value="Nizhniy Novgorod">Nizhniy Novgorod</option>
    <option value="Ruian">Ruian</option>
    <option value="Mwanza">Mwanza</option>
    <option value="Durg Bhilainagar">Durg Bhilainagar</option>
    <option value="Barquisimeto">Barquisimeto</option>
    <option value="Jieyang">Jieyang</option>
    <option value="Chelyabinsk">Chelyabinsk</option>
    <option value="Zhuzhou">Zhuzhou</option>
    <option value="Baoji">Baoji</option>
    <option value="Maracay">Maracay</option>
    <option value="Bhubaneswar">Bhubaneswar</option>
    <option value="Pingdingshan Henan">Pingdingshan Henan</option>
    <option value="Zhenjiang Jiangsu">Zhenjiang Jiangsu</option>
    <option value="Chifeng">Chifeng</option>
    <option value="Puning">Puning</option>
    <option value="Lilongwe">Lilongwe</option>
    <option value="Jinhua">Jinhua</option>
    <option value="Mendoza">Mendoza</option>
    <option value="Kigali">Kigali</option>
    <option value="Bogor">Bogor</option>
    <option value="Huaibei">Huaibei</option>
    <option value="Merida">Merida</option>
    <option value="Tiruchirappalli">Tiruchirappalli</option>
    <option value="Islamabad">Islamabad</option>
    <option value="Chiang Mai">Chiang Mai</option>
    <option value="Nanyang Henan">Nanyang Henan</option>
    <option value="Xiangtan Hunan">Xiangtan Hunan</option>
    <option value="Benxi">Benxi</option>
    <option value="Jinzhou">Jinzhou</option>
    <option value="Chandigarh">Chandigarh</option>
    <option value="Bukavu">Bukavu</option>
    <option value="Abomey Calavi">Abomey Calavi</option>
    <option value="Da Nang">Da Nang</option>
    <option value="Liupanshui">Liupanshui</option>
    <option value="Omsk">Omsk</option>
    <option value="Nnewi">Nnewi</option>
    <option value="Tripoli">Tripoli</option>
    <option value="Guilin">Guilin</option>
    <option value="Amsterdam">Amsterdam</option>
    <option value="Tasikmalaya">Tasikmalaya</option>
    <option value="Haifa">Haifa</option>
    <option value="Binzhou">Binzhou</option>
    <option value="Pizhou">Pizhou</option>
    <option value="Quetta">Quetta</option>
    <option value="Mexicali">Mexicali</option>
    <option value="Krasnoyarsk">Krasnoyarsk</option>
    <option value="Hubli Dharwad">Hubli Dharwad</option>
    <option value="Kaduna">Kaduna</option>
    <option value="Samara">Samara</option>
    <option value="Guwahati">Guwahati</option>
    <option value="Aba">Aba</option>
    <option value="Luohe">Luohe</option>
    <option value="Salem">Salem</option>
    <option value="Aguascalientes">Aguascalientes</option>
    <option value="Ufa">Ufa</option>
    <option value="Bujumbura">Bujumbura</option>
    <option value="Maputo">Maputo</option>
    <option value="Bandar Lampung">Bandar Lampung</option>
    <option value="Rostov On Don">Rostov On Don</option>
    <option value="Cologne">Cologne</option>
    <option value="Yueqing">Yueqing</option>
    <option value="Saharanpur">Saharanpur</option>
    <option value="Shimkent">Shimkent</option>
    <option value="Yongin">Yongin</option>
    <option value="Xinxiang">Xinxiang</option>
    <option value="Bazhong">Bazhong</option>
    <option value="Xiongan">Xiongan</option>
    <option value="Zaozhuang">Zaozhuang</option>
    <option value="San Salvador">San Salvador</option>
    <option value="Cuernavaca">Cuernavaca</option>
    <option value="Wenling">Wenling</option>
    <option value="Panjin">Panjin</option>
    <option value="Chihuahua">Chihuahua</option>
    <option value="Jalandhar">Jalandhar</option>
    <option value="Goyang">Goyang</option>
    <option value="Fuyang">Fuyang</option>
    <option value="Yerevan">Yerevan</option>
    <option value="Siliguri">Siliguri</option>
    <option value="Managua">Managua</option>
    <option value="Ma'anshan">Ma'anshan</option>
    <option value="Bishkek">Bishkek</option>
    <option value="Shangrao">Shangrao</option>
    <option value="Tbilisi">Tbilisi</option>
    <option value="Hargeysa">Hargeysa</option>
    <option value="Cartagena">Cartagena</option>
    <option value="Diyarbakir">Diyarbakir</option>
    <option value="Perm">Perm</option>
    <option value="Bien Hoa">Bien Hoa</option>
    <option value="Zhaoqing">Zhaoqing</option>
    <option value="Voronezh">Voronezh</option>
    <option value="Bobo Dioulasso">Bobo Dioulasso</option>
    <option value="Lille">Lille</option>
    <option value="Jingzhou Hubei">Jingzhou Hubei</option>
    <option value="Samarinda">Samarinda</option>
    <option value="Oslo">Oslo</option>
    <option value="Kermanshah">Kermanshah</option>
    <option value="Fuzhou Jiangxi">Fuzhou Jiangxi</option>
    <option value="Johor Bahru">Johor Bahru</option>
    <option value="Leshan">Leshan</option>
    <option value="Solapur">Solapur</option>
    <option value="Changwon">Changwon</option>
    <option value="Mersin">Mersin</option>
    <option value="Antwerp">Antwerp</option>
    <option value="Kirkuk">Kirkuk</option>
    <option value="Dezhou">Dezhou</option>
    <option value="Toulouse">Toulouse</option>
    <option value="Chenzhou">Chenzhou</option>
    <option value="Aden">Aden</option>
    <option value="Aracaju">Aracaju</option>
    <option value="Huzhou">Huzhou</option>
    <option value="Ikorodu">Ikorodu</option>
    <option value="Teresina">Teresina</option>
    <option value="Sekondi Takoradi">Sekondi Takoradi</option>
    <option value="Asmara">Asmara</option>
    <option value="Yueyang">Yueyang</option>
    <option value="Xuchang">Xuchang</option>
    <option value="Marrakech">Marrakech</option>
    <option value="Tampico">Tampico</option>
    <option value="Denpasar">Denpasar</option>
    <option value="Yichun Jiangxi">Yichun Jiangxi</option>
    <option value="Austin">Austin</option>
    <option value="Tshikapa">Tshikapa</option>
    <option value="Changshu">Changshu</option>
    <option value="Saltillo">Saltillo</option>
    <option value="Padang">Padang</option>
    <option value="Rotterdam">Rotterdam</option>
    <option value="San Miguel De Tucuman">San Miguel De Tucuman</option>
    <option value="Nyala">Nyala</option>
    <option value="Cebu City">Cebu City</option>
    <option value="Qujing">Qujing</option>
    <option value="Odesa">Odesa</option>
    <option value="Warangal">Warangal</option>
    <option value="Acapulco De Juarez">Acapulco De Juarez</option>
    <option value="San Jose">San Jose</option>
    <option value="Ilorin">Ilorin</option>
    <option value="Valparaiso">Valparaiso</option>
    <option value="Kayseri">Kayseri</option>
    <option value="Cancun">Cancun</option>
    <option value="Volgograd">Volgograd</option>
    <option value="Xintai">Xintai</option>
    <option value="Blantyre Limbe">Blantyre Limbe</option>
    <option value="Songkhla">Songkhla</option>
    <option value="Bordeaux">Bordeaux</option>
    <option value="Krasnodar">Krasnodar</option>
    <option value="Nonthaburi">Nonthaburi</option>
    <option value="Guiping">Guiping</option>
    <option value="Jixi Heilongjiang">Jixi Heilongjiang</option>
    <option value="Pingxiang Jiangxi">Pingxiang Jiangxi</option>
    <option value="Morelia">Morelia</option>
    <option value="Dehradun">Dehradun</option>
    <option value="Hamah">Hamah</option>
    <option value="Dushanbe">Dushanbe</option>
    <option value="Laiwu">Laiwu</option>
    <option value="Agadir">Agadir</option>
    <option value="Jiujiang">Jiujiang</option>
    <option value="Zhucheng">Zhucheng</option>
    <option value="Fort Worth">Fort Worth</option>
    <option value="Mudanjiang">Mudanjiang</option>
    <option value="Chengde">Chengde</option>
    <option value="Jerusalem">Jerusalem</option>
    <option value="San Pedro Sula">San Pedro Sula</option>
    <option value="Misratah">Misratah</option>
    <option value="Cucuta">Cucuta</option>
    <option value="Khulna">Khulna</option>
    <option value="Ciudad Guayana">Ciudad Guayana</option>
    <option value="Arequipa">Arequipa</option>
    <option value="Dnipro">Dnipro</option>
    <option value="Nice">Nice</option>
    <option value="Owerri">Owerri</option>
    <option value="Zamboanga City">Zamboanga City</option>
    <option value="Southampton">Southampton</option>
    <option value="Guigang">Guigang</option>
    <option value="Warri">Warri</option>
    <option value="Veracruz">Veracruz</option>
    <option value="Jos">Jos</option>
    <option value="Rajshahi">Rajshahi</option>
    <option value="Seongnam">Seongnam</option>
    <option value="Leiyang">Leiyang</option>
    <option value="Jacksonville">Jacksonville</option>
    <option value="Pathum Thani">Pathum Thani</option>
    <option value="Yangjiang">Yangjiang</option>
    <option value="Reynosa">Reynosa</option>
    <option value="Bangui">Bangui</option>
    <option value="Najaf">Najaf</option>
    <option value="Bengbu">Bengbu</option>
    <option value="Zhangzhou">Zhangzhou</option>
    <option value="Villahermosa">Villahermosa</option>
    <option value="Sylhet">Sylhet</option>
    <option value="Nampula">Nampula</option>
    <option value="Tianmen">Tianmen</option>
    <option value="Charlotte">Charlotte</option>
    <option value="Antipolo">Antipolo</option>
    <option value="Hengshui">Hengshui</option>
    <option value="Xinyu">Xinyu</option>
    <option value="Linfen">Linfen</option>
    <option value="Oran">Oran</option>
    <option value="Columbus">Columbus</option>
    <option value="West Rand">West Rand</option>
    <option value="Campo Grande">Campo Grande</option>
    <option value="Lubango">Lubango</option>
    <option value="Deyang">Deyang</option>
    <option value="Ulsan">Ulsan</option>
    <option value="Liverpool">Liverpool</option>
    <option value="Londrina">Londrina</option>
    <option value="Taiz">Taiz</option>
    <option value="Bergamo">Bergamo</option>
    <option value="Malang">Malang</option>
    <option value="Jiangyin">Jiangyin</option>
    <option value="La Plata">La Plata</option>
    <option value="Dandong">Dandong</option>
    <option value="Concepcion">Concepcion</option>
    <option value="Hermosillo">Hermosillo</option>
    <option value="Liling">Liling</option>
    <option value="Guntur">Guntur</option>
    <option value="Baishan">Baishan</option>
    <option value="Bahawalpur">Bahawalpur</option>
    <option value="Donetsk">Donetsk</option>
    <option value="Indianapolis">Indianapolis</option>
    <option value="Trujillo">Trujillo</option>
    <option value="Changzhi">Changzhi</option>
    <option value="Bhiwandi">Bhiwandi</option>
    <option value="Tyumen">Tyumen</option>
    <option value="Liaoyang">Liaoyang</option>
    <option value="San Francisco">San Francisco</option>
    <option value="Ashgabat">Ashgabat</option>
    <option value="Tuxtla Gutierrez">Tuxtla Gutierrez</option>
    <option value="Soshanguve">Soshanguve</option>
    <option value="Erbil">Erbil</option>
    <option value="Puducherry">Puducherry</option>
    <option value="Changde">Changde</option>
    <option value="Shangqiu">Shangqiu</option>
    <option value="Culiacan">Culiacan</option>
    <option value="Firozabad">Firozabad</option>
    <option value="Xingtai">Xingtai</option>
    <option value="Bogra">Bogra</option>
    <option value="Tainan">Tainan</option>
    <option value="Fuxin">Fuxin</option>
    <option value="Cabinda">Cabinda</option>
    <option value="Huangshi">Huangshi</option>
    <option value="Umuahia">Umuahia</option>
    <option value="Hufuf Mubarraz">Hufuf Mubarraz</option>
    <option value="Libreville">Libreville</option>
    <option value="Palermo">Palermo</option>
    <option value="Yibin">Yibin</option>
    <option value="Banghazi">Banghazi</option>
    <option value="Luzhou">Luzhou</option>
    <option value="Ipoh">Ipoh</option>
    <option value="Kuerle">Kuerle</option>
    <option value="Xinghua">Xinghua</option>
    <option value="Saratov">Saratov</option>
    <option value="Quebec City">Quebec City</option>
    <option value="Cherthala">Cherthala</option>
    <option value="Valencia">Valencia</option>
    <option value="Quzhou">Quzhou</option>
    <option value="Xinyang">Xinyang</option>
    <option value="Yongzhou">Yongzhou</option>
    <option value="Winnipeg">Winnipeg</option>
    <option value="Yangquan">Yangquan</option>
    <option value="Xiaogan">Xiaogan</option>
    <option value="Bucheon">Bucheon</option>
    <option value="Orumiyeh">Orumiyeh</option>
    <option value="Maiduguri">Maiduguri</option>
    <option value="Enugu">Enugu</option>
    <option value="Eskisehir">Eskisehir</option>
    <option value="Newcastle Upon Tyne">Newcastle Upon Tyne</option>
    <option value="Zhuji">Zhuji</option>
    <option value="Heze">Heze</option>
    <option value="Huaihua">Huaihua</option>
    <option value="Barcelona Puerto La Cruz">Barcelona Puerto La Cruz</option>
    <option value="Tianshui">Tianshui</option>
    <option value="Thessaloniki">Thessaloniki</option>
    <option value="Bologna">Bologna</option>
    <option value="Haicheng">Haicheng</option>
    <option value="Huludao">Huludao</option>
    <option value="Sorocaba">Sorocaba</option>
    <option value="Bozhou">Bozhou</option>
    <option value="Bikaner">Bikaner</option>
    <option value="Nottingham">Nottingham</option>
    <option value="Niigata">Niigata</option>
    <option value="Xalapa">Xalapa</option>
    <option value="Kunshan">Kunshan</option>
    <option value="Liaocheng">Liaocheng</option>
    <option value="Nellore">Nellore</option>
    <option value="Gebze">Gebze</option>
    <option value="Nakhon Ratchasima">Nakhon Ratchasima</option>
    <option value="Jincheng">Jincheng</option>
    <option value="Frankfurt">Frankfurt</option>
    <option value="Taixing">Taixing</option>
    <option value="Lokoja">Lokoja</option>
    <option value="Seattle">Seattle</option>
    <option value="Cagayan De Oro City">Cagayan De Oro City</option>
    <option value="Langfang">Langfang</option>
    <option value="Vereeniging">Vereeniging</option>
    <option value="Jiaozuo">Jiaozuo</option>
    <option value="Dasmarinas">Dasmarinas</option>
    <option value="Kottayam">Kottayam</option>
    <option value="Ar Rayyan">Ar Rayyan</option>
    <option value="Sulaimaniya">Sulaimaniya</option>
    <option value="Amravati">Amravati</option>
    <option value="Zhumadian">Zhumadian</option>
    <option value="Benguela">Benguela</option>
    <option value="Gorakhpur">Gorakhpur</option>
    <option value="Hamilton">Hamilton</option>
    <option value="Shaoguan">Shaoguan</option>
    <option value="Meishan">Meishan</option>
    <option value="Gaomi">Gaomi</option>
    <option value="Hanchuan">Hanchuan</option>
    <option value="Krakow">Krakow</option>
    <option value="Bunia">Bunia</option>
    <option value="Danyang">Danyang</option>
    <option value="Muzaffarnagar">Muzaffarnagar</option>
    <option value="Zanzibar">Zanzibar</option>
    <option value="Ansan">Ansan</option>
    <option value="Bur Sa'id">Bur Sa'id</option>
    <option value="Cuttack">Cuttack</option>
    <option value="Anqing">Anqing</option>
    <option value="Denver">Denver</option>
    <option value="Anqiu">Anqiu</option>
    <option value="Banjarmasin">Banjarmasin</option>
    <option value="Kayamkulam">Kayamkulam</option>
    <option value="Zigong">Zigong</option>
    <option value="Gaza">Gaza</option>
    <option value="Qingyuan">Qingyuan</option>
    <option value="Linhai">Linhai</option>
    <option value="Erduosi Ordoss">Erduosi Ordoss</option>
    <option value="Belgaum">Belgaum</option>
    <option value="Oshogbo">Oshogbo</option>
    <option value="Zaria">Zaria</option>
    <option value="Malegaon">Malegaon</option>
    <option value="Shaoyang">Shaoyang</option>
    <option value="Malanje">Malanje</option>
    <option value="Zarqa">Zarqa</option>
    <option value="Sao Jose Dos Campos">Sao Jose Dos Campos</option>
    <option value="Sheffield">Sheffield</option>
    <option value="Kumamoto">Kumamoto</option>
    <option value="Yan'an">Yan'an</option>
    <option value="Maturin">Maturin</option>
    <option value="Tongliao">Tongliao</option>
    <option value="Jiamusi">Jiamusi</option>
    <option value="Yanji">Yanji</option>
    <option value="Zaragoza">Zaragoza</option>
    <option value="Sialkot">Sialkot</option>
    <option value="Mangalore">Mangalore</option>
    <option value="Kitwe">Kitwe</option>
    <option value="Tongling">Tongling</option>
    <option value="Wuzhou">Wuzhou</option>
    <option value="Suining Sichuan">Suining Sichuan</option>
    <option value="Ribeirao Preto">Ribeirao Preto</option>
    <option value="Xianyang Shaanxi">Xianyang Shaanxi</option>
    <option value="Dengzhou">Dengzhou</option>
    <option value="Ibb">Ibb</option>
    <option value="Rasht">Rasht</option>
    <option value="Yuncheng">Yuncheng</option>
    <option value="Tirupati">Tirupati</option>
    <option value="Zaporizhzhya">Zaporizhzhya</option>
    <option value="Merca">Merca</option>
    <option value="Dazhou">Dazhou</option>
    <option value="Panzhihua">Panzhihua</option>
    <option value="Sargodha">Sargodha</option>
    <option value="Buffalo City">Buffalo City</option>
    <option value="Oaxaca De Juarez">Oaxaca De Juarez</option>
    <option value="Cheongju">Cheongju</option>
    <option value="Bhavnagar">Bhavnagar</option>
    <option value="Okayama">Okayama</option>
    <option value="Yuxi">Yuxi</option>
    <option value="Bacoor">Bacoor</option>
    <option value="Nanded Waghala">Nanded Waghala</option>
    <option value="Gold Coast">Gold Coast</option>
    <option value="Lviv">Lviv</option>
    <option value="Dongtai">Dongtai</option>
    <option value="Washington">Washington</option>
    <option value="Yulin Shaanxi">Yulin Shaanxi</option>
    <option value="Akure">Akure</option>
    <option value="Jammu">Jammu</option>
    <option value="Longyan">Longyan</option>
    <option value="Yuyao">Yuyao</option>
    <option value="Al Hudaydah">Al Hudaydah</option>
    <option value="Bali">Bali</option>
    <option value="Florence">Florence</option>
    <option value="Zhangjiagang">Zhangjiagang</option>
    <option value="The Hague">The Hague</option>
    <option value="Cotonou">Cotonou</option>
    <option value="Salta">Salta</option>
    <option value="Goma">Goma</option>
    <option value="Huambo">Huambo</option>
    <option value="Vientiane">Vientiane</option>
    <option value="Kurnool">Kurnool</option>
    <option value="Amara">Amara</option>
    <option value="Taicang">Taicang</option>
    <option value="Uberlandia">Uberlandia</option>
    <option value="Gulbarga">Gulbarga</option>
    <option value="Taif">Taif</option>
    <option value="Seville">Seville</option>
    <option value="Tamale">Tamale</option>
    <option value="Bristol">Bristol</option>
    <option value="Buraydah">Buraydah</option>
    <option value="Celaya">Celaya</option>
    <option value="Durgapur">Durgapur</option>
    <option value="Jundiai">Jundiai</option>
    <option value="Boston">Boston</option>
    <option value="Cheonan">Cheonan</option>
    <option value="Ankang">Ankang</option>
    <option value="Tolyatti">Tolyatti</option>
    <option value="Pontianak">Pontianak</option>
    <option value="Nantes">Nantes</option>
    <option value="Zhoukou">Zhoukou</option>
    <option value="Padova">Padova</option>
    <option value="Manama">Manama</option>
    <option value="El Paso">El Paso</option>
    <option value="Loudi">Loudi</option>
    <option value="Renqiu">Renqiu</option>
    <option value="Bijie">Bijie</option>
    <option value="Lattakia">Lattakia</option>
    <option value="Ezhou">Ezhou</option>
    <option value="Sokoto">Sokoto</option>
    <option value="Zagreb">Zagreb</option>
    <option value="Nay Pyi Taw">Nay Pyi Taw</option>
    <option value="Liege">Liege</option>
    <option value="Nashville">Nashville</option>
    <option value="Hezhou">Hezhou</option>
    <option value="Tongxiang">Tongxiang</option>
    <option value="Santiago">Santiago</option>
    <option value="Qinzhou">Qinzhou</option>
    <option value="Mar Del Plata">Mar Del Plata</option>
    <option value="General Santos City">General Santos City</option>
    <option value="Samsun">Samsun</option>
    <option value="Longhai">Longhai</option>
    <option value="Tabuk">Tabuk</option>
    <option value="Oklahoma City">Oklahoma City</option>
    <option value="Las Vegas">Las Vegas</option>
    <option value="Denizli">Denizli</option>
    <option value="Genoa">Genoa</option>
    <option value="Puyang">Puyang</option>
    <option value="Zhoushan">Zhoushan</option>
    <option value="Miluo">Miluo</option>
    <option value="Macao">Macao</option>
    <option value="Portland">Portland</option>
    <option value="Lodz">Lodz</option>
    <option value="Jhansi">Jhansi</option>
    <option value="Herat">Herat</option>
    <option value="Haimen">Haimen</option>
    <option value="Jeonju">Jeonju</option>
    <option value="Sanya">Sanya</option>
    <option value="Neijiang">Neijiang</option>
    <option value="Erode">Erode</option>
    <option value="Detroit">Detroit</option>
    <option value="As Suways">As Suways</option>
    <option value="Busto Arsizio">Busto Arsizio</option>
    <option value="Wuhai">Wuhai</option>
    <option value="Jamnagar">Jamnagar</option>
    <option value="Pachuca De Soto">Pachuca De Soto</option>
    <option value="Uvira">Uvira</option>
    <option value="Jubayl">Jubayl</option>
    <option value="Durango">Durango</option>
    <option value="Chiclayo">Chiclayo</option>
    <option value="Nasiriyah">Nasiriyah</option>
    <option value="Hegang">Hegang</option>
    <option value="Izhevsk">Izhevsk</option>
    <option value="Bokaro Steel City">Bokaro Steel City</option>
    <option value="Doha">Doha</option>
    <option value="Be'er Sheva">Be'er Sheva</option>
    <option value="Memphis">Memphis</option>
    <option value="Enshi">Enshi</option>
    <option value="Chongjin">Chongjin</option>
    <option value="Jambi">Jambi</option>
    <option value="Bandar Abbas">Bandar Abbas</option>
    <option value="Sihui">Sihui</option>
    <option value="Bauchi">Bauchi</option>
    <option value="Irkutsk">Irkutsk</option>
    <option value="Bulawayo">Bulawayo</option>
    <option value="Safaqis">Safaqis</option>
    <option value="Bissau">Bissau</option>
    <option value="Wroclaw">Wroclaw</option>
    <option value="Raurkela">Raurkela</option>
    <option value="Barnaul">Barnaul</option>
    <option value="Venezia">Venezia</option>
    <option value="Khabarovsk">Khabarovsk</option>
    <option value="Belfast">Belfast</option>
    <option value="Duesseldorf">Duesseldorf</option>
    <option value="Anshun">Anshun</option>
    <option value="Bacolod">Bacolod</option>
    <option value="Verona">Verona</option>
    <option value="Kolhapur">Kolhapur</option>
    <option value="Stuttgart">Stuttgart</option>
    <option value="Jinzhong">Jinzhong</option>
    <option value="Al Ain">Al Ain</option>
    <option value="Patiala">Patiala</option>
    <option value="Bilaspur">Bilaspur</option>
    <option value="Abakaliki">Abakaliki</option>
    <option value="Sanhe">Sanhe</option>
    <option value="Yulin Guangxi">Yulin Guangxi</option>
    <option value="Kuching">Kuching</option>
    <option value="Hanzhong">Hanzhong</option>
    <option value="Calabar">Calabar</option>
    <option value="Ajmer">Ajmer</option>
    <option value="Comilla">Comilla</option>
    <option value="Ujjain">Ujjain</option>
    <option value="Seregno">Seregno</option>
    <option value="Hillah">Hillah</option>
    <option value="Geneva">Geneva</option>
    <option value="Colombo">Colombo</option>
    <option value="Xinmi">Xinmi</option>
    <option value="Riga">Riga</option>
    <option value="Gothenburg">Gothenburg</option>
    <option value="San Jose Del Monte">San Jose Del Monte</option>
    <option value="Ulyanovsk">Ulyanovsk</option>
    <option value="Zahedan">Zahedan</option>
    <option value="Bari">Bari</option>
    <option value="Mbeya">Mbeya</option>
    <option value="Jingjiang">Jingjiang</option>
    <option value="Mathura">Mathura</option>
    <option value="Cenxi">Cenxi</option>
    <option value="Brighton">Brighton</option>
    <option value="Feira De Santana">Feira De Santana</option>
    <option value="Tlaxcala">Tlaxcala</option>
    <option value="Siping">Siping</option>
    <option value="Louisville">Louisville</option>
    <option value="Agartala">Agartala</option>
    <option value="Yaroslavl">Yaroslavl</option>
    <option value="Shishi">Shishi</option>
    <option value="Imphal">Imphal</option>
    <option value="Fuqing">Fuqing</option>
    <option value="Vladivostok">Vladivostok</option>
    <option value="Kryvyi Rih">Kryvyi Rih</option>
    <option value="Daye">Daye</option>
    <option value="Skopje">Skopje</option>
    <option value="Likasi">Likasi</option>
    <option value="Tomsk">Tomsk</option>
    <option value="Shuozhou">Shuozhou</option>
    <option value="Cuito">Cuito</option>
    <option value="Samarkand">Samarkand</option>
    <option value="Sanliurfa">Sanliurfa</option>
    <option value="Ogbomosho">Ogbomosho</option>
    <option value="Beira">Beira</option>
    <option value="Sangli">Sangli</option>
    <option value="Makhachkala">Makhachkala</option>
    <option value="Xiantao">Xiantao</option>
    <option value="Leipzig">Leipzig</option>
    <option value="Dengfeng">Dengfeng</option>
    <option value="Cabimas">Cabimas</option>
    <option value="Qitaihe">Qitaihe</option>
    <option value="Sanmenxia">Sanmenxia</option>
    <option value="Tonghua">Tonghua</option>
    <option value="Ibague">Ibague</option>
    <option value="Thoothukkudi">Thoothukkudi</option>
    <option value="Cuiaba">Cuiaba</option>
    <option value="Xinyi">Xinyi</option>
    <option value="Mazar E Sharif">Mazar E Sharif</option>
    <option value="Kingston">Kingston</option>
    <option value="Samut Sakhon">Samut Sakhon</option>
    <option value="Zhaodong">Zhaodong</option>
    <option value="Yiyang Hunan">Yiyang Hunan</option>
    <option value="Malaga">Malaga</option>
    <option value="Yichun Heilongjiang">Yichun Heilongjiang</option>
    <option value="Udaipur">Udaipur</option>
    <option value="Hamadan">Hamadan</option>
    <option value="Djibouti">Djibouti</option>
    <option value="Dongyang">Dongyang</option>
    <option value="Bouake">Bouake</option>
    <option value="Dortmund">Dortmund</option>
    <option value="Zaoyang">Zaoyang</option>
    <option value="Vellore">Vellore</option>
    <option value="Jalgaon">Jalgaon</option>
    <option value="Ardabil">Ardabil</option>
    <option value="Bloemfontein">Bloemfontein</option>
    <option value="Hebi">Hebi</option>
    <option value="Gaya">Gaya</option>
    <option value="Milwaukee">Milwaukee</option>
    <option value="Catania">Catania</option>
    <option value="Juiz De Fora">Juiz De Fora</option>
    <option value="Kagoshima">Kagoshima</option>
    <option value="Dresden">Dresden</option>
    <option value="Yazd">Yazd</option>
    <option value="Jiaozhou">Jiaozhou</option>
    <option value="Gaozhou">Gaozhou</option>
    <option value="Toulon">Toulon</option>
    <option value="Udon Thani">Udon Thani</option>
    <option value="Tirunelveli">Tirunelveli</option>
    <option value="Uige">Uige</option>
    <option value="Oujda">Oujda</option>
    <option value="Pereira">Pereira</option>
    <option value="Essen">Essen</option>
    <option value="Matamoros">Matamoros</option>
    <option value="Kitchener">Kitchener</option>
    <option value="Imus">Imus</option>
    <option value="Cangzhou">Cangzhou</option>
    <option value="Poza Rica De Hidalgo">Poza Rica De Hidalgo</option>
    <option value="Santa Fe">Santa Fe</option>
    <option value="Karbala">Karbala</option>
    <option value="Weinan">Weinan</option>
    <option value="Kota Kinabalu">Kota Kinabalu</option>
    <option value="Al Mansurah">Al Mansurah</option>
    <option value="Guangyuan">Guangyuan</option>
    <option value="Bamenda">Bamenda</option>
    <option value="Panipat">Panipat</option>
    <option value="Kahramanmaras">Kahramanmaras</option>
    <option value="Ndola">Ndola</option>
    <option value="Feicheng">Feicheng</option>
    <option value="Tepic">Tepic</option>
    <option value="Orenburg">Orenburg</option>
    <option value="Meknes">Meknes</option>
    <option value="Kemerovo">Kemerovo</option>
    <option value="Arak">Arak</option>
    <option value="Bremen">Bremen</option>
    <option value="Gomel">Gomel</option>
    <option value="Baltimore">Baltimore</option>
    <option value="Tongchuan">Tongchuan</option>
    <option value="Sakarya">Sakarya</option>
    <option value="Basel">Basel</option>
    <option value="Al Mukalla">Al Mukalla</option>
    <option value="Mekele">Mekele</option>
    <option value="Chiang Rai">Chiang Rai</option>
    <option value="Larkana">Larkana</option>
    <option value="Khamis Mushayt">Khamis Mushayt</option>
    <option value="Basilan City">Basilan City</option>
    <option value="Albuquerque">Albuquerque</option>
    <option value="Hosur">Hosur</option>
    <option value="Anyang">Anyang</option>
    <option value="Villavicencio">Villavicencio</option>
    <option value="Rupganj">Rupganj</option>
    <option value="Leicester">Leicester</option>
    <option value="Shouguang">Shouguang</option>
    <option value="Irbid">Irbid</option>
    <option value="Valledupar">Valledupar</option>
    <option value="Rajahmundry">Rajahmundry</option>
    <option value="Yongkang">Yongkang</option>
    <option value="Utrecht">Utrecht</option>
    <option value="Tucson">Tucson</option>
    <option value="Sukkur">Sukkur</option>
    <option value="Haining">Haining</option>
    <option value="Abeokuta">Abeokuta</option>
    <option value="Yanshi">Yanshi</option>
    <option value="Chaoyang">Chaoyang</option>
    <option value="Rustenburg">Rustenburg</option>
    <option value="Taishan">Taishan</option>
    <option value="Calamba">Calamba</option>
    <option value="Ambon">Ambon</option>
    <option value="Diwaniyah">Diwaniyah</option>
    <option value="Rayong">Rayong</option>
    <option value="Chuzhou">Chuzhou</option>
    <option value="Gombe">Gombe</option>
    <option value="Qingzhou">Qingzhou</option>
    <option value="Changning">Changning</option>
    <option value="Longkou">Longkou</option>
    <option value="El Djelfa">El Djelfa</option>
    <option value="Angeles City">Angeles City</option>
    <option value="Loum">Loum</option>
    <option value="Novokuznetsk">Novokuznetsk</option>
    <option value="Mesa">Mesa</option>
    <option value="Edinburgh">Edinburgh</option>
    <option value="Pingdu">Pingdu</option>
    <option value="Dali">Dali</option>
    <option value="Kerman">Kerman</option>
    <option value="Kikwit">Kikwit</option>
    <option value="Bellary">Bellary</option>
    <option value="San Juan">San Juan</option>
    <option value="Mbouda">Mbouda</option>
    <option value="Al Raqqa">Al Raqqa</option>
    <option value="Berbera">Berbera</option>
    <option value="Gaoyou">Gaoyou</option>
    <option value="Port of Spain">Port of Spain</option>
    <option value="Sheikhupura">Sheikhupura</option>
    <option value="Namangan">Namangan</option>
    <option value="Hamhung">Hamhung</option>
    <option value="Gongyi">Gongyi</option>
    <option value="Puerto Vallarta">Puerto Vallarta</option>
    <option value="Balashikha">Balashikha</option>
    <option value="Zinder">Zinder</option>
    <option value="Van">Van</option>
    <option value="Heyuan">Heyuan</option>
    <option value="Vilnius">Vilnius</option>
    <option value="Laixi">Laixi</option>
    <option value="Ryazan">Ryazan</option>
    <option value="Santa Marta">Santa Marta</option>
    <option value="Fresno">Fresno</option>
    <option value="Shizuishan">Shizuishan</option>
    <option value="Pietermaritzburg">Pietermaritzburg</option>
    <option value="Chuxiong">Chuxiong</option>
    <option value="Changge">Changge</option>
    <option value="Xingning">Xingning</option>
    <option value="Hannover">Hannover</option>
    <option value="Shangyu">Shangyu</option>
    <option value="Surakarta">Surakarta</option>
    <option value="Kabinda">Kabinda</option>
    <option value="Naberezhnye Tchelny">Naberezhnye Tchelny</option>
    <option value="Astrakhan">Astrakhan</option>
    <option value="Cuautla Morelos">Cuautla Morelos</option>
    <option value="Grenoble">Grenoble</option>
    <option value="Atlanta">Atlanta</option>
    <option value="Nakhon Pathom">Nakhon Pathom</option>
    <option value="Kakinada">Kakinada</option>
    <option value="Kalasin">Kalasin</option>
    <option value="Sacramento">Sacramento</option>
    <option value="Porto Velho">Porto Velho</option>
    <option value="Al Mahallah Al Kubra">Al Mahallah Al Kubra</option>
    <option value="Davanagere">Davanagere</option>
    <option value="Qianjiang">Qianjiang</option>
    <option value="Vale Do Aco">Vale Do Aco</option>
    <option value="Muzaffarpur">Muzaffarpur</option>
    <option value="Ziyang">Ziyang</option>
    <option value="Mataram">Mataram</option>
    <option value="Ar Rusayfah">Ar Rusayfah</option>
    <option value="Kandahar">Kandahar</option>
    <option value="Changyi">Changyi</option>
    <option value="Songyuan">Songyuan</option>
    <option value="Poznan">Poznan</option>
    <option value="Kuantan">Kuantan</option>
    <option value="Eslamshahr">Eslamshahr</option>
    <option value="Duisburg">Duisburg</option>
    <option value="Guang An">Guang An</option>
    <option value="Penza">Penza</option>
    <option value="Jinjiang">Jinjiang</option>
    <option value="Utsunomiya">Utsunomiya</option>
    <option value="Begusarai">Begusarai</option>
    <option value="Arusha">Arusha</option>
    <option value="Kirov">Kirov</option>
    <option value="Barisal">Barisal</option>
    <option value="Ado Ekiti">Ado Ekiti</option>
    <option value="Khon Kaen">Khon Kaen</option>
    <option value="Purnia">Purnia</option>
    <option value="Tanta">Tanta</option>
    <option value="London Ca">London Ca</option>
    <option value="Jianyang">Jianyang</option>
    <option value="Bournemouth">Bournemouth</option>
    <option value="Kismaayo">Kismaayo</option>
    <option value="Shuangyashan">Shuangyashan</option>
    <option value="Nurenberg">Nurenberg</option>
    <option value="Malatya">Malatya</option>
    <option value="Cheboksary">Cheboksary</option>
    <option value="Tirana">Tirana</option>
    <option value="Kolwezi">Kolwezi</option>
    <option value="Nanping">Nanping</option>
    <option value="El Obeid">El Obeid</option>
    <option value="Jingmen">Jingmen</option>
    <option value="Surat Thani">Surat Thani</option>
    <option value="Murcia">Murcia</option>
    <option value="Ubon Ratchathani">Ubon Ratchathani</option>
    <option value="Matsuyama">Matsuyama</option>
    <option value="Yongcheng">Yongcheng</option>
    <option value="Karaganda">Karaganda</option>
    <option value="Zhongxiang">Zhongxiang</option>
    <option value="Kansas City">Kansas City</option>
    <option value="Katsina">Katsina</option>
    <option value="Lipetsk">Lipetsk</option>
    <option value="Port Sudan">Port Sudan</option>
    <option value="Macapa">Macapa</option>
    <option value="Chaohu">Chaohu</option>
    <option value="La Serena Coquimbo">La Serena Coquimbo</option>
    <option value="Zhuanghe">Zhuanghe</option>
    <option value="Latur">Latur</option>
    <option value="Douai Lens">Douai Lens</option>
    <option value="Xuancheng">Xuancheng</option>


  </select>
  <br>

  <div class="container"
    style=" color: rgb(255, 255, 255); display: inline-block ; border-radius: 20px; ">
    <div
      style="margin: 2%; padding: 7px; text-align: center; border-radius: 20px; border: 1px solid white; background-color: rgba(255, 255, 255, 0.2);">
      {{weatherData.sys.country}} &nbsp; {{weatherData.dt *1000 | date: 'medium' }}</div>
    <div
      style=" text-align: center; background-color:rgba(255, 255, 255, 0.2);margin: 2%; padding: 7px;border-radius: 20px; font-size: 20px; border: 1px solid white;">
      Temp: &nbsp; {{weatherData.main.temp - 273.15 | number:'1.0-0' }}&#8451;</div>

    <div style="width:100% ;" *ngFor="let data of weatherData.weather">
      <div
        style="text-align: center; background-color:rgba(255, 255, 255, 0.2); padding: 7px; margin: 2%; border-radius: 20px; border: 1px solid white;">
        Sky:&nbsp; {{data.main}} </div>

      <div
        style=" text-align: center; background-color:rgba(255, 255, 255, 0.2); padding: 7px; margin: 2%; border-radius: 20px; border: 1px solid white;">
        Description:
        &nbsp;{{data.description}}
      </div>
      <div><img style=" display: block; margin:0 auto; width: 40%;"
          src="https://openweathermap.org/img/wn/{{data.icon}}@2x.png"></div><br>
      <div
        style="text-align: center; background-color:rgba(255, 255, 255, 0.2); margin: 2%; padding: 7px; border-radius: 20px; border: 1px solid white;margin-bottom:10%;">
        Feels Like: &nbsp;
        {{weatherData.main.feels_like - 273.15 | number:'1.0-0'}} &#8451;</div>
    </div>
  </div>
</div>
<!-- <div id="bg" style="border: 2px solid black">



</div> -->
