
<div class="container" id="sliderDiv">
<ion-content id="skillsHeight">
<ion-slides pager="true" [options]="slideOpts" >
  <ion-slide>
    <img src="../assets/Human-Values.PNG" style="width: auto; height:300px">
  </ion-slide>
  <ion-slide>
    <img src="assets/Capture.JPG" style="width: auto; height:300px">
  </ion-slide>
  <ion-slide>
    <img src="assets/conflictResolution.JPG" style="width: auto; height:300px">
  </ion-slide>
  <ion-slide>
    <img src="assets/MealDPro.JPG" style="width: auto; height:300px">
  </ion-slide>
  <ion-slide>
    <img src="assets/psea.JPG" style="width: auto; height:300px">
  </ion-slide>
  <ion-slide>
    <img src="assets/security.JPG" style="width: auto; height:300px">
  </ion-slide>
  <ion-slide>
    <img src="assets/Trading.JPG" style="width: auto; height:300px">
  </ion-slide>
</ion-slides>
</ion-content>
</div>





